[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	branch = master
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "vitetris"]
	path = vitetris
	url = https://github.com/pulp-platform/vitetris.git
[submodule "u-boot"]
	path = u-boot
	url = https://git.s3g-labs.trt/uc_las_ome/u-boot-buildroot
	branch = cva6_vga
[submodule "opensbi"]
	path = opensbi
	url = https://git.s3g-labs.trt/uc_las_ome/opensbi_polarfire
	branch = opensbi_polarfire
